footer .alunos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 364px;
    background: #171717;
    gap: 30px;
    text-align: center;
}

footer h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 5px;

}

footer p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.75);
}

footer a {
    display: inline-block;
    text-decoration: none;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

footer .alunos .primeiroaluno {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
    gap: 10px;

}

footer .alunos .segundoaluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;

}

footer .alunos .terceiroaluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

footer .alunos .quartoaluno {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    gap: 10px;
}

footer .alunos .redes {
    display: inline-block;
}

footer .textofinal {
    position: absolute;
    left: 40%;
    top: 1480px; 
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: rgba(255, 255, 255, 0.5);
    background: #171717;
}