* {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background: #FFFFFF;
    padding-left: 20px;
    padding-right: 20px;

}

nav a {
    text-decoration: none;
    margin-right: 10px;
    width: 81px;
    height: 21px;
    left: 1210px;
    top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #626262;


}
.banner img {
    width: 100%;
}


.banner{
    width: 100%;
    height: 500px;
    background-image: url(./img/banner.png);}



main {
    height: 600px;
    width:100% ;
}


footer .alunos{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 364px;
    background: #171717;
    gap: 30px;
}

footer h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #FFFFFF;
    margin-bottom: 5px;

}

footer p {

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.75);
}

footer a {
    display: inline-block;
    text-decoration: none;
    width: 24px;
    height: 24px;
    margin-right: 10px;
}

footer .alunos .primeiroaluno {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 10px;
    gap: 10px;

}

footer .alunos .segundoaluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 10px;

}

footer .alunos .terceiroaluno {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    gap: 10px;
}

footer .alunos .quartoaluno {
    display: flex;
    flex-direction: column;
    text-align: right;
    justify-content: flex-end;
    gap: 10px;
}

footer .alunos .redes {
    display: inline-block;
}

footer .textofinal {
    position: absolute;
    width: 386px;
    height: 28px;
    left: 555px;
    top: 2116px;
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;

    color: rgba(255, 255, 255, 0.5);
    background: #171717;
}